.body {
	height: 100%;
  width: 100%;
  font-size: 22px;
}

.container {
	width: 320px;
	height: 320px;
	margin: auto; 

	/*background-color: #e5e6e5;*/
	
	border-radius: 10px;
  /*box-shadow: 0px 0px 10px 0px #ccc;*/

  display: flex;
  flex-wrap: wrap;
}

.card {
	width: 25%;
	min-height: 25%;
	height: 1px;
	border-radius: 10px;
}

.front, .back {
	background-color: #ffffff;
	border: 1px solid grey;
	border-radius: 10px;
	box-sizing: border-box;
  box-shadow: 0px 0px 10px 0px #ccc;
}

.back {
	background-size: cover; 
}

.card:nth-child(8n+1) .back {
	background-image: url(../img/noun_1284499_cc.png);
}

.card:nth-child(8n+2) .back {
	background-image: url(../img/noun_1284495_cc.png);
}

.card:nth-child(8n+3) .back {
	background-image: url(../img/noun_1284489_cc.png);
}

.card:nth-child(8n+4) .back {
	background-image: url(../img/noun_1284485_cc.png);
}

.card:nth-child(8n+5) .back {
	background-image: url(../img/noun_1284481_cc.png);
}

.card:nth-child(8n+6) .back {
	background-image: url(../img/noun_1284498_cc.png);
}

.card:nth-child(8n+7) .back {
	background-image: url(../img/noun_1284479_cc.png);
}

.card:nth-child(8n+8) .back {
	background-image: url(../img/noun_1284477_cc.png);
}








